@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

#root, body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Prevents horizontal scrollbars */
}
